.header {
  font-size: 2rem;
}

.main-page {
  max-width: 100vh;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
  background-color: #000;
  color: #fff;
  margin: 50px 0;
  padding: 20px;
}

.form-container {
  max-width: 600px;
  padding: 25px;
  width: 100%;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

input {
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  max-width: 300px;
  width: 100%;
}

button {
  background-color: #ffcc00;
  color: #000;
  border: none;
  border-radius: 18px;
  padding: 10px 32px;
  max-width: 200px;
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
  margin: 20px;
  cursor: pointer;
}
