.header {
  font-size: 2rem;
}

.main-page {
  max-width: 100vh;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  font-size: 1.5rem;
  text-align: center;
  display: grid;
  gap: 20px;
}

/* .action-btn {
  background-color: blueviolet;
  color: #fff;
  font-size: 1.2rem;
  border: none;
  border-radius: 12px;
  padding: 10px 5px;
}

.action-btn:hover {
  background-color: blue;
  font-weight: 800;
}

.counter-label {
  font-size: 3rem;
  font-weight: 600;
  margin: 0;
} */

.form-container {
  max-width: 600px;
  padding: 25px;
  width: 100%;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

input {
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  max-width: 300px;
  width: 100%;
}

button {
  background-color: #ffcc00;
  color: #000;
  border: none;
  border-radius: 18px;
  padding: 10px 32px;
  max-width: 200px;
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 20px;
  cursor: pointer;
}
